{
margin
}

body {
font-family: Arial,sans-serif;
background-color: antiquewhite;
font-size: 1rem;
}

header {
    background-color: aquamarine;
padding: 20px 40px;
width: 100%;
}

.menus{
    display: flex;
    justify-content: space-around;
}